[Bb]in
[Oo]bj
_ReSharper.*
*.dotCover
*.DotSettings
*.user
*.suo
*_* 201*-*
*.vssscc
*.testsettings
*.sln.cache
*.vspscc
*.build.*
*.orig
*~
*.csv
release/
.sass-cache/
.DS_Store
.Trashes
*.trx
publish/
IQ.Ops.Database/IQ.Ops.Database.dbmdl
IQ.Ops.Database/sql/debug/IQ.Ops.Database.dbschema
IQ.Ops.Database/sql/debug/IQ.Ops.Database.deploymanifest
IQ.Ops.Database/sql/debug/IQ.Ops.Database.sql
IQ.Ops.Database/sql/debug/*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
IQ.Ops.AutomatedBilling.IntegrationTests/attachments*
*/bld/*